{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <meta http-equiv="refresh" content="55" /> {# Refreshes page for reminder notifications #}

<div class="ui two column grid">
    <div class="row">

        <div class="column">Books <a href="{% url 'book_create' %}">Create book</a>
          <br/>

          {% for i in book %}

              - {{ i.book_name }} by: {{ i.book_author }}

              <a href="{% url 'book_update' pk=i.id %}">Update</a>

              <a href="{% url 'book_delete' pk=i.id %}">Delete</a>

              <br/>

          {% endfor %}

      </div>

    <div class="column">Courses <a href="{% url 'course_create' %}">Create course</a>
          <br/>

      {% for i in course %}

          - {{ i.course_name }}
          <a href="{% url 'course_update' pk=i.id %}">Update</a>
          <a href="{% url 'course_delete' pk=i.id %}">Delete</a>

          <br/>

      {% endfor %}


    </div>



    </div>


  <div class="column">
      <button type="button" id="test">Schedule</button> <a href="{% url 'reminder_create' %}">Create Reminder</a>
      <a href="https://calendar.google.com/calendar/r">Update Schedule </a> <br/>

      {% for day in schedule %}
          {% if day.day_id == current_day %}
              {% if day.start_time <= current_time.time %}
                  {% if current_time.time <= day.end_time %}
                        - {{ day.start_time }} to {{ day.end_time }}: {{ day.todo_item }}
{#                      {{ current_item.todo_item }}#}
                  {% endif %}
              {% endif %}
          {% endif %}
      {% endfor %}

        {% for i in reminder %}
             <br/>
            - {{ i.time }}: {{ i.todo_item }} <a href="{% url 'reminder_delete' pk=i.id %}">Delete</a>
{#            {% if i.day == current_day %}#}
{#                - {{ i.todo_item }}#}
{#            {% endif %}#}
        {% endfor %}
  </div>

{# Schedule Modal #}
<div class="ui modal test">
  <i class="close icon"></i>
  <div class="header">
    Schedule
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://semantic-ui.com/images/avatar2/large/rachel.png">
    </div>
    <div class="description">
      <div class="ui header">Schedule for {{ current_day }}</div>

        {% for day in schedule %}
            {% if day.day_id == current_day %}
                - {{ day.start_time }} to {{ day.end_time }}: {{ day.todo_item }} <br/>
            {% endif %}
        {% endfor %}

    </div>
  </div>
{#  <div class="actions">#}
{#    <div class="ui black deny button">#}
{#      Nope#}
{#    </div>#}
{#    <div class="ui positive right labeled icon button">#}
{#      Yep, that's me#}
{#      <i class="checkmark icon"></i>#}
{#    </div>#}
{#  </div>#}
</div>



  <div class="column">Projects  <a href="{% url 'project_create' %}">Create project</a>
      <br/>

          {% for i in project %}

              - {{ i.project_name }}
              <a href="{% url 'project_update' pk=i.id %}">Update</a>
              <a href="{% url 'project_delete' pk=i.id %}">Delete</a>
              <br/>
              {# TODO: add a show for description, like hackernews #}
              {#              -- {{ i.project_description }}#}
              {#              <br/>#}

          {% endfor %}


  </div>


  <div class="column">Recent News <a href="{% url 'rssFeed' %}">More</a> <a href="{% url 'feed_refresh' %}">Refresh Feed</a>
      <br/>

          {% for i in rss_feed %}

              - <a href="{{ i.story_url }}">{{ i.title }}</a>

              <br/>

          {% endfor %}

  </div>

  <div class="column">Recent Tweets <a href="{% url 'tweetFeed' %}">More</a> <a href="{% url 'tweet_refresh' %}">Refresh Tweets</a>
      <br/>

          {% for i in tweet_feed %}

              - {{ i.tweet }}

              <br/>

          {% endfor %}

  </div>

  <div class="column">Job Tracking
      <br/>

          {% for i, k in job_track.items %}

              - {{ i }}: <br/>
              {% for w in k %}
                  -->{{ w }} <br/>
              {% endfor %}


              <br/>

          {% endfor %}

  </div>



</div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>


   <script>
 var change = "{{ change }}";
               console.log(change);
   $(document).ready(function() {
       if(localStorage.getItem('popState') != 'shown'){
               $(window).on('load',function(){
                   $('.test').modal('show');
                   localStorage.setItem('popState', 'shown')
        });
           if(localStorage.getItem('popState') == 'shown'){
                var change = "{{ change }}";
                console.log(change);
               if(change == 'True'){
                 localStorage.setItem('popState', 'false')
               }
           }


       }
   })

   </script>

    <script>
    $(function() {
      $("#test").click(function() {
        $(".test").modal("show");
      });
      $(".test").modal({
        closable: true
      });
    });

    </script>


{% endblock %}
$(window).on('load',function(){
        $('.test').modal('show');
    });